<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Tickets" type="com.assignment.java.domain.Ticket"/>
        <typeAlias alias="User" type="com.assignment.java.domain.User"/>
    </typeAliases>

    <mappers>
        <mapper resource="ticketsMapper.xml"/>
        <mapper resource="userMapper.xml"/>
    </mappers>


</configuration>